body{
    background-image: url(./images/Background.jpeg);
    overflow-x: hidden;
}
.container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}